body, html {
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 16px;
}

nav {
    margin-top: -20px;
    background-color: #fff8eb;
    width: 100%;
}

.grid {
    display: grid;
    display:flex;
    align-items: center;
}

.col {
    flex: 1;
}

h1 {
    border: 1px solid red;
    width: 200px;
    color: #3a3430;
    font-size: 1.75rem;
}

nav ul {
    border: 1px solid red;
    display: inline-flex;
    justify-content: space-between;
    width: 250px;
}

nav ul li{
    list-style-type: none;
    font-size: 1.25rem;
}

nav a {
    color: #615a56;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #3a3430;
}

h1 {

}

ul {

}

main {

}

figure {

}

article {

}

h2 {

}

p {

}

.imageShowcase {

}

.image {

}

.image p {

}

footer {

}

footer a{

}

address {
    
}
