body, html {
    margin: 0px;
    padding: 0px;
    border: none;
}

nav {
    margin-top: -20px;
    background-color: #fff8eb;
    width: 100%;
}

.grid {
    display: grid;
    display:flex;
    align-items: baseline;
    align-content: space-around;
}


.col {
    border: 1px dotted black;
    flex: 1;
}

h1 {
    border: 1px solid red;
    width: 150px;
}

nav ul {
    border: 1px solid red;
    width: 250px;
}

nav ul li{
    display: inline-flex;
}

h1 {

}

ul {

}

main {

}

figure {

}

article {

}

h2 {

}

p {

}

.imageShowcase {

}

.image {

}

.image p {

}

footer {

}

footer a{

}

address {
    
}
